player-connection-mode=Listen
player-connection-guid=125661700
player-connection-debug=0
player-connection-project-name=ArtGalleryXR
player-connection-ip=172.20.10.10
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=eaa014fa374c4c58a7e555f051e9571f
